/* WATS 3020 Mad Libs Assignment */

body {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    margin: 0;
    padding: 0rem;
    font-size: 3rem;
}

h2
{
    margin: 0;
    font-size: 2rem;
    padding: 0 4rem;
}
p
{
    font-size: 1.5rem;
    line-height: 180%;
    padding: 0 1rem;
}

#madlib-text
{
    padding: 1rem 0;
}